certifi==2020.6.20
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib
MarkupSafe==1.1.1
mkl-fft==1.0.6
mkl-random==1.1.1
mkl-service==2.3.0
nltk
numpy
pandas
python-dateutil==2.8.1
pytz==2020.1
regex
scikit-learn==0.23.2
scipy==1.5.3
simplejson
six==1.15.0
sklearn==0.0
SQLAlchemy==1.3.20
threadpoolctl==2.1.0
tqdm
Werkzeug==1.0.1
wincertstore==0.2
