.jumbotron {
  background: url('/static/images/coverphoto2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  margin-bottom: 0;
}

body {
  margin-bottom: 100px;
}

#header {
  padding-left: 50px;
  padding-top: 60px;
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.form-control {
  height: 250px;
  margin: auto;
  position: relative;
 }

footer {
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  /* height: 100px; */
  width: 100%;
  margin-top: 200 auto;
  box-sizing: border-box;
  display: block;
  /* border-top: 15 px solid #007CBD; */
  background-color: rgb(255, 71, 95);
  color: whitesmoke;
}

