.jumbotron {
  background: url('/static/images/coverphoto2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  margin-bottom: 0;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  color: white;
}

body {
  margin-bottom: 100px;
}

footer {
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  /* height: 100px; */
  width: 100%;
  margin-top: 200 auto;
  box-sizing: border-box;
  display: block;
  border-top: 15 px solid #007CBD;
  background-color: #004b87;
  color: lightgray;
}

