.jumbotron {
  background: url('/static/images/coverphoto2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  margin-bottom: 0;
}

body {
  margin-bottom: 100px;
}

#header {
  padding-left: 60px;
  padding-top: 70px;
  color: whitesmoke;
  font-family: "Noto Sans";
  /* font-style: italic; */
}

#header>p{
  font-size: x-large;
}

#main-form {
  background-color: rgb(255, 71, 95);
  border-radius: 3%;
  border: 0;
}

#main-form>.panel-heading {
  background-color: rgb(255, 71, 95);
  color: white;
  font-size: x-large;
  font-family: "Noto Sans";
  font-weight: bold;
  border: 0;
}

#feedback-form {
  margin: 20px 100px 0 100px;
  background-color: rgb(255, 71, 95);
  border: 0;
}

label {
  font-family: "Noto Sans";
}

textarea.form-control {
  height: 200px;
  background-color: rgb(241, 219, 219);
}

#alertOutcome {
  font-family: 'Noto Sans';
  font-size: x-large;
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  background-color: rgb(255, 71, 95);
  color: white;
  font-family:  "Noto Sans";
}

.filter {
  border: 0;
}

.thumbnail {
  border: none;
}

h2, h3 {
  text-align: center;
  font-family: "Noto Sans";
}

.main {
  margin-top: 60px;
  margin-bottom: 60px;
}

.wordcloud {
  border-top: 1px solid lightgray;
}

footer {
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  /* height: 100px; */
  width: 100%;
  margin-top: 200 auto;
  box-sizing: border-box;
  display: block;
  /* border-top: 15 px solid #007CBD; */
  background-color: rgb(255, 71, 95);
  color: whitesmoke;
}

