<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Cuisine Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto Sans'>
</head>


<body>

  <div class="jumbotron">
    <div id="header">
      <h1>Cuisine Classifier</h1>      
      <p>Demystify Cuisine and Culture From Ingredients using Natural Language Processing and Machine Learning</p>
    </div> 
  </div>

  <section class="main">
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-md-12">  
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="/">Finder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/exploration">Exploration</a>
            </li>
          </ul>
        </div>
      </div> -->
  
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="main-form" class="panel panel-default">
            <div class="panel-heading">Let's Try A New Cuisine!!!</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group">
                    <li class="filter list-group-item">
                      <label for="ingredients">Give me a list of Ingredients</label>
                      <textarea class="form-control" id="ingredients" name="ingredients" required></textarea>
                    </li>
                  </ul>
                </div>
                <button id="findCuisine" type="submit" class="btn btn-default">Submit</button>
                <button id="clear" type="submit" class="btn btn-default">Try again?</button>
              </form>
            </div>
          </div>
          <div id="alertOutcome" class="alert alert-primary" role="alert"></div>
          <a href="#cuisine_list">
            <button data-toggle="collapse" data-target="#feedback" class="btn btn-default">
              RESULT NOT RIGHT? CLICK HERE!
            </button>
          </a>
          <div id="feedback" class="collapse">
            <div id="feedback-form" class="panel panel-default">
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group">
                      <li class="filter list-group-item">
                        <label for="chosenCuisine">Choose the correct cuisine</label>
                        <select class="form-control" id="chosenCuisine" required>
                          <option style="display:none"></option>
                          {% for cuisine in cuisine_list %}
                          <option value={{cuisine}}>{{cuisine}}</option>
                          {% endfor %}
                        </select>
                      </li>
                      <li class="filter list-group-item">
                        <label for="enteredCuisine">Not listed above? Enter the correct cuisine</label>
                        <input class="form-control" id="enteredCuisine" type="text" placeholder="Wonderland Cuisine">
                      </li>
                      <li class="filter list-group-item">
                        <label for="recipeName">Enter the recipe name</label>
                        <input class="form-control" id="recipeName" type="text" placeholder="Tamarind Sauce Fish Curry">
                      </li>
                      <li class="filter list-group-item">
                        <label for="recipeLink">Enter the recipe link</label>
                        <input class="form-control" id="recipeLink" type="text" placeholder="https://www.allrecipes.com/recipe/245131/tamarind-sauce-fish-curry/">
                      </li>
                    </ul>
                  </div>
                  <button id="giveFeedback" type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>  
  </section>

  <section class="wordcloud">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="thumbnail">
            <h2>Explore Most Common Ingredients from Cuisines Around The World</h2>
            <h3>All Cuisines</h3>
            <img src="static/images/word_cloud/all_cuisines.png">
          </div>
          <br>
          <h2>
            <br>What If Taking Out The Most Used Ingredients in All Cuisines like
            <br>Oil, Salt, Black Pepper, Sugar, Butter, Leaf, Onion, and Garlic?</h2>
        </div>

        {% for cuisine in cuisine_list %}
        <div class="col-md-6">
          <div class="thumbnail">
            <h3>{{ cuisine }} Cuisine</h3>
            <img src="static/images/word_cloud/{{cuisine}}_reduced.png">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <footer class="page-footer font-small primary-color-dark">
    <div class="footer-copyright text-center py-3">Monash University Data Analytics Bootcamp Final
      Project - Copyright 2020 by Tracey Ha - 
        <a href="https://github.com/momcancode/final-project-bootcamp" target="blank">
          GITHUB
        </a>
    </div>
  </footer>

  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>
  <!-- D3 JS -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="static/js/logic.js"></script>
  <script src="https://kit.fontawesome.com/f4519cc188.js" crossorigin="anonymous"></script>

</body>

</html>